.adress{
    width: 330px;
    height: 75px;
   
    margin-left: 1000px;
    margin-top:-820px;
   
}

.adress__name{
    font-size: 14px;

color: #404040;
padding-left: 240px;
}

.adress__texst{
    font-size: 14px;

color: #AEAEAE;
padding-left: 150px;
margin-left: 90px;
white-space: nowrap;
}
.adress__img{
    margin-top: -50px;
    margin-bottom: 10px;
    margin-left: 110px;

}

.elips{
    width: 35.06px;
height: 35.06px;
background: #FFC145;
border-radius: 50%;
margin-top:-50px;
margin-left: 202px;
}

