.Transaction-history{
    width: 596.66px;
height: 322.38px;
border-radius: 19.0044px;
margin-left: 290px;
margin-top: 31px;
box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
margin-bottom: 32px;

background: #FFFFFF;

}

.Transaction-history__title{
    font-size: 20.1118px;
    color: #404040;
    padding-top: 18px;
    padding-left: 25px;

}
.Transaction-history__Name{
    font-size: 14px;
color: #AEAEAE;
display: flex;
padding-top: 18px;

}


.Transaction-history__item-reciever{
padding-left: 25px;
padding-right: 158px;
}

.Transaction-history__item-type{
    padding-right: 88px;

}
.Transaction-history__item-date{
    padding-right: 145px;
}

.Transaction-history__info{
    margin-left: 25px;
    margin-top: 17px;
    
}

.Transaction-history__item{
   
    width: 543.74px;
height: 29.96px;
margin-top: 10px;
}

.Transaction-history__item-icon1{
    width: 20.4px;
height: 20.4px;

background: #EFEFEF;
border-radius: 6.00032px
}

.Transaction-history__item-name{
    font-size: 14px;
color: #404040;
margin-top: -18px;
padding-left: 26px ;

}

.Transaction-history__item-magasine{
    margin-top: -18px;
    padding-left: 208px;
    font-size: 14px;

color: #C7C7C7;

}
.Transaction-history__item-data{
    font-size: 14px;
    margin-top: -15px;
    padding-left: 322px;

color: #C7C7C7;
}

.Transaction-history__item-Amount{
    
    color: #404040;
    font-size: 14px;
    margin-top: -15px;
    padding-left: 500px; 
}

.Transaction-history__line{
    width: 543.74px;
height: 0px;
border: 0.5px solid #ECECEC;
}

.Transaction-history__item-icon2{
    position: relative;
    top:-16px;
    left:3px;
}

.Transaction-history__item-icon3{
    position: relative;
    top:-16px;
    left:5px;
}

.Transaction-history__item-icon4{
    position: relative;
    top:-17px;
    left:4px;
}

.Transaction-history__item-icon5{
    position: relative;
    top:-17px;
    left:4px;
    width: 13px;
    height: 15px;
}